.button{
    background: #0077FF;
    padding: 10px 20px ;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 60px;
    cursor: pointer;
    
}

.button:hover{
    background: #014a9c;
    transition: all .3s ease-in-out;
}

.arrow{
    margin-left: 10px;
}